<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        {% include "djangoapp/navigation.html" %}
        <!--Add review form here -->

        <script type="text/javascript">
            $('.date-own').datepicker({
               format: 'mm/dd/yyyy'
             });
       </script>

        <form action="{% url 'djangoapp:add_review' dealer_id=dealerid %}" method="post">
            {% csrf_token %}
            <div class="container"> <!--Stylize root div with .container class -->
                <h1>Add review for {{dealer.full_name}}</h1>
                <div class="form-group"> <!--Stylize second div with .form-group class -->
                    <label for="name"><b>Name: </b></label>
                    <input id="name" class="form-control" type="text" placeholder="Enter Name: " name="name" required> <!--Stylize input with .form-control class -->
                    <label for="review"><b>Review: </b></label>
                    <textarea id="review" class="form-control" placeholder="Enter Review: " name="review" required></textarea> <!--Stylize input with .form-control class -->
                    <div style="margin-left: 30px;">
                        <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck" />
                        has purchased the car from {{dealer.full_name}}
                    </div>
                    <br />
                    Select your car(model-make-year)  <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                    {% endfor %}
                    </select>
                    <br /><br />
                    <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate" />
                </div>
                {% if message %}
                <div class="alert alert-warning"> <!--Stylize the message paragraph with .alert and .alert-warning class -->
                    {{ message }}
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <button class="btn btn-primary" type="submit">Submit</button> <!--Stylize button with .btn and .btn-primary class -->
                {% endif %}
            </div>
        </form>


    </body>
</html>